body
{
  padding-top: 60px;
  padding-bottom: 40px;
}

.form-horizontal .control-label
{
  font-weight: bold;
}

.sidebar-nav
{
  padding: 9px 0;
}

.widget
{
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  overflow: hidden;
}

.widget-header
{
  position: relative;
  background: whitesmoke;
  border: 1px solid #E3E3E3;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
  min-height: 50px;
}

  .widget-header h3
  {
    padding-left: 10px;
    font-size: 14px;
    color: #555;
    line-height: 18px;
    overflow: hidden;
  }

.widget-content
{
  padding: 20px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.widget-header + .widget-content
{
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.widget-action {
  padding-right: 10px; 
  padding-top: 5px;
}

.form-horizontal .control-label2
{
  float: left;
  width: 100px;
  margin-left: 10px;
}

.form-horizontal .control-group2
{
  margin-bottom: 10px;
}

.form-horizontal .controls2
{
  margin-left: 60px;
}
