<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="layout" value="${longdate} ${threadid} ${logger} ${level} ${message} ${exception:format=tostring}" />

  <extensions>
    <add assembly="LogHub.NLog"/>
  </extensions>

  <targets>
    <target type="AsyncWrapper" name="AsyncLog" queueLimit="100000" batchSize="1024">
      <target type="LogHub" name="LogHub" hostip="127.0.0.1" hostport="11000" source="LogHub.TestClient" />
    </target>
  </targets>

  <rules>
    <logger name="LogHub.*" minlevel="Debug" writeTo="AsyncLog" />
  </rules>
</nlog>