<div class="widget">
    <div class="widget-header">
        <h3>Messages</h3>
    </div>
    <div class="widget-content">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th style="width: 10%">Date</th>
                    <th style="width: 10%">Host</th>
                    <th style="width: 10%">Source</th>
                    <th style="width: 10%">Logger</th>
                    <th style="width: 10%">Level</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="log-item-container">
            </tbody>
        </table>
        
        <ul class="pager">
        <% if(pages > 1) { %>
          <% if(prev) { %>
            <li class="previous"><a href="#logs?page=<%= prev %>" class="prev">previous</a></li>
          <% } else { %>
            <li class="previous disabled"><a href="#">previous</a></li>
          <% } %>

          <%= range[0] %>..<%= range[1] %> of <%= total %>

          <% if(next) { %>
            <li class="next"><a href="#logs?page=<%= next %>" class="next">next</a></li>
          <% } else { %>
            <li class="next disabled"><a href="#">next</a></li>
          <% } %>
        <% } %>
        </ul>
    </div>
</div>
