<div class="widget" data-bind="fadeIn: 600">
	<div class="widget-header" style="min-height: 60px;">
		<div class="pull-left">
			<h3>Dashboard <a href="#" rel="tooltip" title="Dashboard shows recent messages. New messages are fetched automatically every 5 seconds." data-placement="right" data-bind="tooltip: true"><i class="icon-info-sign"></i></a></h3>
			<span style="padding-left: 10px;">Last update : <span data-bind="text: loghub.utils.formatDate(lastUpdate())"></span></span>
		</div>
		<div class="pull-right widget-action">
			<button class="btn btn-primary" data-bind="click: toggleFilter">Filter</button>
		</div>
		<div style="margin-top: 75px;" data-bind="visible : filterVisible">
			<form class="form-horizontal" data-bind="with: filterModel">
				<div class="control-group control-group2">
					<label class="control-label2" for="host">Host</label>
					<input type="text" class="controls controls2" name="host" data-bind="autoComplete: {target: host, source: loghub.lookups.getHosts}" />
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="source">Source</label>
					<input type="text" name="source" class="controls controls2" data-bind="autoComplete: {target: source, source: loghub.lookups.getSources}" />
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="message">Message</label>
					<input type="text" name="message" class="controls controls2" data-bind="value: message" />
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="level">Level</label>
					<select name="level" class="controls controls2" data-bind="value: level">
						<option value="None"></option>
						<option value="Trace">Trace</option>
						<option value="Debug">Debug</option>
						<option value="Info">Info</option>
						<option value="Warn">Warn</option>
						<option value="Error">Error</option>
						<option value="Fatal">Fatal</option>
					</select>
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="messageCount">Message Count</label>
					<select name="messageCount" class="controls controls2" data-bind="value: messageCount">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
						<option value="150">150</option>
					</select>
				</div>
				<div class="control-group control-group2">
					<button class="btn btn-primary" style="margin-left: 170px" type="button" data-bind="click: $root.applyFilter">Apply filter</button>
				</div>
			</form>
		</div>
	</div>
	<div class="widget-content">
		<div class="alert alert-info" data-bind="visible: logItems().length == 0">
			No log message found.
		</div>
		<table class="table table-condensed table-hover" data-bind="visible: logItems().length > 0">
			<thead>
				<tr>
					<th style="width: 10%">Date</th>
					<th style="width: 10%">Host</th>
					<th style="width: 10%">Source</th>
					<th style="width: 10%">Logger</th>
					<th style="width: 10%">Level</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody data-bind="template: {name: 'LogItem-template', foreach: logItems}">
			</tbody>
		</table>
	</div>
</div>
<div data-bind="template: {name: 'LogDetail-template'}"></div>