<div class="widget" data-bind="fadeIn: 600">
    <div class="widget-header">
        <div class="pull-left">
            <h3>Retention Settings</h3>
        </div>
        <div class="pull-right widget-action">
            <button class="btn btn-primary" data-bind="click: create">Create new entry</button>
        </div>
    </div>
    <div class="widget-content">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th style="width: 20%">Source</th>
                    <th style="width: 20%">Delete Logs After</th>
                    <th style="width: 20%">Created By</th>
                    <th style="width: 20%">Created At</th>
                    <th style="width: 10%"></th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: items">
                <tr>
                    <td data-bind="text: source"></td>
                    <td data-bind="text: days() + ' Days'"></td>
                    <td data-bind="text: createdBy"></td>
                    <td data-bind="text: createdAt"></td>
                    <td>
                        <a href="#" data-bind="click: $parent.edit">Edit</a>
                    </td>
                    <td>
                        <a href="#" data-bind="confirmDelete: $parent.delete, confirmMessage: 'Are you sure you want to delete this entry ?'">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal hide fade" id="retentionModal" tabindex="-1" role="dialog" aria-labelledby="retentionModalLabel" aria-hidden="true" data-bind="with: currentItem">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="retentionModalLabel" data-bind="text: isNew() ? 'New retention entry' : 'Edit retention entry'"></h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-error" data-bind="visible: validationErrors().length > 0">
            <ul data-bind="foreach: validationErrors">
                <li data-bind="text: $data"></li>
            </ul>
        </div>

        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputSource">Source</label>
                <div class="controls">
                    <input type="text" id="inputSource" placeholder="Source" data-bind="autoComplete: {target: source, source: loghub.lookups.getSources}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDays">Delete Logs After</label>
                <div class="controls">
                    <input type="text" id="inputDays" placeholder="Days" data-bind="value: days">
                    Days
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Archive Deleted Logs</label>
                <div class="controls">
                    <input type="checkbox" data-bind="checked: archiveEnabled">
                </div>
            </div>
            <div data-bind="visible: archiveEnabled">
                <ul class="nav nav-tabs">
                </ul>
                <div class="control-group">
                    <label class="control-label">Archive To Disk</label>
                    <div class="controls">
                        <input type="checkbox" data-bind="checked: archiveDisk">
                    </div>
                </div>
                <div data-bind="visible: archiveDisk">
                    <label class="control-label" style="font-weight: normal" for="inputDiskPath">Path</label>
                    <div class="controls">
                        <input type="text" id="inputDiskPath" placeholder="Path" data-bind="value: diskPath">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Archive To Amazon Glacier</label>
                    <div class="controls">
                        <input type="checkbox" data-bind="checked: archiveGlacier">
                    </div>
                </div>
                <div data-bind="visible: archiveGlacier">
                    <label class="control-label" style="font-weight: normal" for="inputGlacierAccessKey">Access Key</label>
                    <div class="controls">
                        <input type="text" id="inputGlacierAccessKey" placeholder="Access Key" data-bind="value: glacierAccessKey">
                    </div>
                    <label class="control-label" style="font-weight: normal" for="inputGlacierSecretKey">Secret Key</label>
                    <div class="controls">
                        <input type="text" id="inputGlacierSecretKey" placeholder="Secret Key" data-bind="value: glacierSecretKey">
                    </div>
                    <label class="control-label" style="font-weight: normal" for="inputGlacierRegion">Region</label>
                    <div class="controls">
                        <input type="text" id="inputGlacierRegion" placeholder="Region" data-bind="value: glacierRegion">
                    </div>
                    <label class="control-label" style="font-weight: normal" for="inputGlacierVault">Vault</label>
                    <div class="controls">
                        <input type="text" id="inputGlacierVault" placeholder="Vault" data-bind="value: glacierVault">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Archive To Amazon S3</label>
                    <div class="controls">
                        <input type="checkbox" data-bind="checked: archiveS3">
                    </div>
                </div>
                <div data-bind="visible: archiveS3">
                    <label class="control-label" style="font-weight: normal" for="inputS3AccessKey">Access Key</label>
                    <div class="controls">
                        <input type="text" id="inputS3AccessKey" placeholder="Access Key" data-bind="value: s3AccessKey">
                    </div>
                    <label class="control-label" style="font-weight: normal" for="inputS3SecretKey">Secret Key</label>
                    <div class="controls">
                        <input type="text" id="inputS3SecretKey" placeholder="Secret Key" data-bind="value: s3SecretKey">
                    </div>
                    <label class="control-label" style="font-weight: normal" for="inputS3Bucket">Bucket</label>
                    <div class="controls">
                        <input type="text" id="inputS3Bucket" placeholder="Bucket" data-bind="value: s3Bucket">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="disable: isLoading">Cancel</button>
        <button class="btn btn-primary" data-bind="click: $parent.save, disable: isLoading">Save</button>
        <img src="./images/loader.gif" data-bind="visible: isLoading" alt="" />
    </div>
</div>
