<div class="widget" data-bind="fadeIn: 600">
	<div class="widget-header">
		<div class="pull-left">
			<h3>Search Messages</h3>
		</div>
		<div class="pull-right widget-action">
			<button class="btn btn-primary" data-bind="click: toggleFilter">Filter</button>
		</div>
		<div style="margin-top: 55px;" data-bind="visible : filterVisible">
			<form class="form-horizontal" data-bind="with: filterModel">
				<div class="control-group control-group2">
					<label class="control-label2" for="host">Host</label>
					<input type="text" class="controls controls2" name="host" data-bind="autoComplete: {target: host, source: loghub.lookups.getHosts}" />
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="source">Source</label>
					<input type="text" name="source" class="controls controls2" data-bind="autoComplete: {target: source, source: loghub.lookups.getSources}" />
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="message">Message</label>
					<input type="text" name="message" class="controls controls2" data-bind="value: message" />
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="dateFrom">Date From</label>
					<input type="text" name="dateFrom" style="width: 100px; margin-left: 60px;" data-bind="datepicker: true, value: dateFrom" placeholder="dd-mm-yyyy" />
					<span style="margin: 0 8px;">at</span>
					<input type="text" style="width: 60px" placeholder="hh:mm" data-bind="value: timeFrom" />
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="dateTo">Date To</label>
					<input type="text" name="dateTo" style="width: 100px; margin-left: 60px;" data-bind="datepicker: true, value: dateTo" placeholder="dd-mm-yyyy" />
					<span style="margin: 0 8px;">at</span>
					<input type="text" style="width: 60px" placeholder="hh:mm" data-bind="value: timeTo" />
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="level">Level</label>
					<select name="level" class="controls controls2" data-bind="value: level">
						<option value="None"></option>
						<option value="Trace">Trace</option>
						<option value="Debug">Debug</option>
						<option value="Info">Info</option>
						<option value="Warn">Warn</option>
						<option value="Error">Error</option>
						<option value="Fatal">Fatal</option>
					</select>
				</div>
				<div class="control-group control-group2">
					<label class="control-label2" for="messageCount">Message Count</label>
					<select name="messageCount" class="controls controls2" data-bind="value: messageCount">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
						<option value="150">150</option>
					</select>
				</div>
				<div class="control-group control-group2">
					<button class="btn btn-primary" style="margin-left: 170px" type="button" data-bind="click: $root.applyFilter">Apply filter</button>
				</div>
			</form>
		</div>
	</div>
	<div class="widget-content">
		<div class="alert alert-info" data-bind="visible: logItems().length == 0">
			No log message found.
		</div>
		<table class="table table-condensed table-hover" data-bind="visible: logItems().length > 0">
			<thead>
				<tr>
					<th style="width: 10%">Date</th>
					<th style="width: 10%">Host</th>
					<th style="width: 10%">Source</th>
					<th style="width: 10%">Logger</th>
					<th style="width: 10%">Level</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody data-bind="template: {name: 'LogItem-template', foreach: logItems}">
			</tbody>
		</table>
		<ul class="pager" data-bind="visible: pages() > 1">
			<li class="previous" data-bind="visible: prev()"><a data-bind="attr: { href: '#search?p=' + prev() }">previous</a></li>
			<li class="next" data-bind="visible: next()"><a data-bind="attr: { href: '#search?p=' + next() }">next</a></li>
		</ul>
	</div>
</div>

<div data-bind="template: {name: 'LogDetail-template'}"></div>
