<div class="widget">
    <div class="widget-header">
        <h3>Searches</h3>
    </div>
    <div class="widget-content">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th style="width: 10%">Date</th>
                    <th style="width: 10%">Host</th>
                    <th style="width: 10%">Source</th>
                    <th style="width: 10%">Logger</th>
                    <th style="width: 10%">Level</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="log-item-container">
            </tbody>
        </table>
        <div id="page-container"></div>
    </div>
</div>
