<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="layout" value="${longdate} ${threadid} ${logger} ${level} ${message} ${exception:format=tostring}" />
  <targets>
    <target type="AsyncWrapper" name="AsyncLog" queueLimit="100000" batchSize="1024">
      <target name="logfile" xsi:type="File" fileName="Logs/${shortdate}.txt" layout="${layout}"/>
    </target>
  </targets>

  <rules>
    <logger name="LogHub.*" minlevel="Info" writeTo="AsyncLog" />
  </rules>
</nlog>